h1 {color: black; background-color: azure;}
h2 {color: aqua; background-color: black;}
body{background-color: aqua;}
p {font-size: xx-large; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;}